Repository apoclyps/python-package-publish, changes with the labels that .github/labeler.yml gives for each.
All labels: python, yaml, json, markdown, docker, shell, dependencies, documentation, tests, release

ci: moves labels and commit linting to on-commit only
  .github/workflows/on-commit.yml
  .github/workflows/test.yml
Labels: yaml

build: fix package name
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: yaml, markdown

ci: moves labels and commit linting to on-commit only (#9)
  .github/workflows/on-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: yaml, markdown

ci: use PAT for commitizen release prs to ensure CI runs
  .github/workflows/release.yml
Labels: yaml

ci: use PAT for commitizen release prs to ensure CI runs (#11)
  .github/workflows/release.yml
Labels: yaml

test: implements freezegun to enable freezing of time for testing
  poetry.lock
  pyproject.toml
  python_package_publish/__init__.py
  python_package_publish/utils.py
  tests/test_utils.py
Labels: python, dependencies, tests

bump: version 0.1.0 → 0.2.0
  pyproject.toml
  python_package_publish/version.py
Labels: python, release

test: implements freezegun to enable freezing of time for testing (#12)
  .github/workflows/on-commit.yml
  poetry.lock
  pyproject.toml
  python_package_publish/__init__.py
  python_package_publish/utils.py
  python_package_publish/version.py
  tests/test_utils.py
Labels: python, yaml, dependencies, tests, release

feat: implements HTTP client
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  python_package_publish/__init__.py
  python_package_publish/client.py
  python_package_publish/errors.py
  tests/test_errors.py
  tests/test_utils.py
  tox.ini
Labels: python, yaml, dependencies, tests

ci: fixes CI to ensure it has the correct types installed
  .github/workflows/on-commit.yml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: yaml, dependencies

feat: implements HTTP client (#13)
  .github/workflows/on-commit.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  python_package_publish/__init__.py
  python_package_publish/client.py
  python_package_publish/errors.py
  tests/test_errors.py
  tests/test_utils.py
  tox.ini
Labels: python, yaml, dependencies, tests

fix: ensures tests assert on is not none
  tests/test_errors.py
Labels: python, tests

fix: ensures on-commit runs on all branches
  .github/workflows/on-commit.yml
Labels: yaml

fix: removes main branch from on-commit
  .github/workflows/on-commit.yml
Labels: yaml

fix: ensures token is supplied to release action workflow
  .github/workflows/release.yml
Labels: yaml

chore(main): release 0.3.1
  CHANGELOG.md
  pyproject.toml
  python_package_publish/version.py
Labels: python, markdown, release

docs: adds documentation for release process
  README.md
  docs/publishing_manually.md
Labels: markdown, documentation

docs: adds documentation for release process (#16)
  README.md
  docs/publishing_manually.md
Labels: markdown, documentation

docs: how to configure projects to use dependency
  docs/how_to_use_dependency.md
Labels: markdown, documentation

docs: adds clarifications to the release process in the README
  README.md
Labels: markdown, documentation

docs: adds clarifications to the release process in the README (#20)
  README.md
Labels: markdown, documentation

chore(main): release 0.3.2
  CHANGELOG.md
  pyproject.toml
  python_package_publish/version.py
Labels: python, markdown, release

chore(main): release 0.3.2 (#17)
  CHANGELOG.md
  pyproject.toml
  python_package_publish/version.py
Labels: python, markdown, release

.github/labeler.yml:

python:
  - "**/*.py"

yaml:
  - "**/*.yaml"
  - "**/*.yml"

json:
  - "**/*.json"

markdown:
  - "**/*.md"

docker:
  - "**/Dockerfile"

shell:
  - "**/*.sh"

dependencies:
  - "poetry.lock"

documentation:
  - "docs/**"
  - README.md

tests:
  - "tests/**"

release:
  - "python_package_publish/version.py"
